ion-icon {
  font-size: 24px;
}

ion-card:active {
  box-shadow: 0 2px 15px 0 rgba(240, 240, 240, 0.8);
  transition: 2s;
}

h4 {

  font-weight: 700;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.usedMuscles {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}


