<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encyclopédie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionInput)="handleSearchInput($event)" show-clear-button="focus" animated="true" placeholder="Chercher un exercice"></ion-searchbar>
  @for(exercise of allExercises; track exercise.name){
    <app-exercise-full-infos [exercise]="exercise"></app-exercise-full-infos>
  }
  @empty{
    <ion-text>Aucun exercice n'est répertorié pour le moment ...</ion-text>
  }
</ion-content>
