<ion-modal #modal2 trigger="open-calories-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Rôle des calories</ion-title>
        <ion-button (click)="modal2.dismiss()" [fill]="true">Fermer</ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="mainContainer">
        <h2>Rôle des calories</h2>
        <ion-text>
          Les calories représentent l’énergie dont notre corps a besoin pour fonctionner correctement au quotidien.
          Chaque mouvement, chaque battement de cœur ou activité cérébrale consomme des calories, même au repos.
          <br><br>
          Dans un contexte sportif, elles jouent un rôle encore plus crucial : elles alimentent les muscles, soutiennent l’endurance et favorisent la récupération après l’effort.
          Une alimentation trop pauvre en calories peut entraîner de la fatigue, une baisse des performances et même un ralentissement du métabolisme.
          <br><br>
          L’objectif n’est donc pas d’éviter les calories, mais de bien les choisir, en privilégiant des sources saines et équilibrées : glucides, bonnes graisses, et protéines de qualité.
        </ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
