<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>{{height}}cm</ion-item>
    <ion-item>{{weightGoal}}/{{weight}}kg</ion-item>
    <ion-item>{{dailyCaloriesGoal}}kcal/jour</ion-item>
  </ion-list>

  <ion-input label="Taille (cm)" type="number" (ngModelChange)="onHeightChange($event)" [(ngModel)]="height" #newHeight></ion-input>
  <ion-input label="Poid (kg)" type="number" (ngModelChange)="onWeightChange($event)" [(ngModel)]="weight" #newWeight></ion-input>
  <ion-input label="Objectif de poid (kg)" type="number" (ngModelChange)="onWeightGoalChange($event)" [(ngModel)]="weightGoal" #newWeightGoal></ion-input>
  <ion-input label="Objectif de calories (kcal/jour)" type="number" (ngModelChange)="onDailyCaloriesGoalChange($event)" [(ngModel)]="dailyCaloriesGoal" #newDailyCaloriesGoal></ion-input>

</ion-content>
