<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-profile-informations [weight]="weight" [height]="height" [age]="age" ></app-profile-informations>

  @if(weight && height){
    <app-imc-range [imc]="getIMC()"></app-imc-range>
  }

  @if(weight && weightGoal){
    <app-weight-goal-range [weight]="weight" [weightGoal]="weightGoal"></app-weight-goal-range>
  }

  <hr>

  <div class="inputBox">
    <ion-input type="number"
               (ngModelChange)="onHeightChange($event)"
               [(ngModel)]="height"
               label="Taille (cm)"
               labelPlacement="floating">
    </ion-input>
    <ion-input type="number"
               [(ngModel)]="weight"
               (ngModelChange)="onWeightChange($event)"
               label="Poids (kg)"
               labelPlacement="floating">
    </ion-input>
    <ion-input type="number"
               [(ngModel)]="weightGoal"
               (ngModelChange)="onWeightGoalChange($event)"
               label="Objectif de poids"
               labelPlacement="floating">
    </ion-input>
    <ion-input type="number"
               [(ngModel)]="age"
               (ngModelChange)="onAgeChange($event)"
               label="Age"
               labelPlacement="floating">
    </ion-input>
  </div>

  <div class="resetButton">
    <ion-button id="resetDatas" color="danger">
      <ion-icon icon="trash"></ion-icon>
      Réinitialiser les données
    </ion-button>
  </div>
  <ion-alert
    trigger="resetDatas"
    header="Êtes-vous sûr de vouloir tout supprimer ?"
    [buttons]="alertButtons">
  </ion-alert>
</ion-content>
