.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.exerciseLine{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  ion-checkbox {
    width: fit-content;
  }

  ion-input{
    width: 20%;
    justify-self: end;
  }
}

.observationField{
  margin-left: 25px;
}

.bottomPage{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
