<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un entrainement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="custom-header">
    <ion-select interface="popover" toggleIcon="search-outline" placeholder="Choisir la séance*" [(ngModel)]="pattern" style="width: 40%">
      @for(pattern of workoutPatternsList; track pattern){
        <ion-select-option [value]="pattern">{{pattern.name}}</ion-select-option>
      }
    </ion-select>
    <ion-button [routerLink]="['/pattern-add']">Ajouter</ion-button>
  </ion-header>

  @if(pattern){
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorderExercises($any($event))">
        @for(exercise of pattern.exercises; track exercise.name){
          <ion-item class="exerciseLine">
            <ion-checkbox slot="start" [(ngModel)]="exerciseInputs[exercise.name].checked"></ion-checkbox>
            <ion-label>{{ exercise.name }}</ion-label>
            @if(!isWithoutWeight(exercise)){
              <ion-input type="number" [(ngModel)]="exerciseInputs[exercise.name].weight" placeholder="Poids"></ion-input>
            }
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        }
      </ion-reorder-group>
    </ion-list>
  }

  <ion-grid style="margin-top: 40px">
    <ion-row>
      <ion-col size="6">
        <ion-text class="datetime-label">Heure de début*</ion-text>
        <ion-datetime presentation="time" class="datetime-compact" show-default-buttons="false" [(ngModel)]="startHour"></ion-datetime>
      </ion-col>
      <ion-col size="6">
        <ion-text class="datetime-label">Heure de fin*</ion-text>
        <ion-datetime presentation="time" class="datetime-compact" show-default-buttons="false" [(ngModel)]="endHour"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="feelingRange">
    <ion-label color="medium">Ressenti de la séance</ion-label>
    <ion-range aria-label="Ressenti de la séance" [min]="0" [max]="2" [snaps]="true" [(ngModel)]="feeling">
      <ion-icon slot="start" name="sad-outline" color="danger"></ion-icon>
      <ion-icon slot="end" name="happy-outline" color="success"></ion-icon>
    </ion-range>
  </div>
  <ion-input [(ngModel)]="observation" placeholder="Observations (facultatif)" class="observationField"></ion-input>
</ion-content>

<ion-footer class="bottomPage">
  <ion-button id="add-workout-toast" expand="block" [disabled]="!pattern" (click)="addWorkout()" [routerLink]="['/home/dashboard']" style="width: 90%">
    <ion-icon name="add" slot="start"></ion-icon>
    Valider la séance
  </ion-button>
  <ion-toast position="top" icon="checkbox" trigger="add-workout-toast" message="Entrainement ajouté avec succès !" [duration]="5000"></ion-toast>
</ion-footer>
