.nutritionGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 16px;
    padding: 16px;
}

.foodNeeds {
    grid-column: span 2;
    display: grid;
    gap: 10px;

    ion-text {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
