.nutritionInformationsGrid{
  padding: 20px;

  h3 {
    display: flex;
    align-items: center;
  }

  ion-row {
    gap: 25px;
    margin-top: 25px;
  }

  ion-col {
    border-color: #D3D3D3;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    padding: 15px;
  }
}

h2 {
  font-weight: bold;
}

.macrosSquare {
  display: flex;
  flex-direction: column;
  gap: 15px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
