@if (weight && weightGoal) {
    <ion-grid style="--ion-grid-padding: 0;">
        <ion-row>
            <ion-col size="12">
                <div id="open-macros-modal" class="card foodNeeds">
                    <ion-text>
                        <ion-icon name="egg" color="danger"></ion-icon>
                        Protéines: {{ weightGoal * 2 }}g
                    </ion-text>
                    <ion-text>
                        <ion-icon name="pizza" color="warning"></ion-icon>
                        Glucides: {{ weightGoal * 1.5 }}g
                    </ion-text>
                    <ion-text>
                        <ion-icon name="water" color="success"></ion-icon>
                        Lipides: {{ weightGoal }}g
                    </ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="card">
                    <span>
                        <h4>
                            {{ waterConsomation.toFixed(2) }}/{{(weight * 40) / 1000 }}L
                            <ion-icon name="water" color="primary"></ion-icon>
                        </h4>
                        <b>Eau</b>
                    </span>
                    <div class="waterButtons">
                        <ion-button [disabled]="waterConsomation === 0"
                                    (click)="decrementWaterConsomation()"
                                    size="small"
                        >
                            <ion-icon name="remove" size="small"></ion-icon>
                        </ion-button>
                        <ion-button (click)="incrementWaterConsomation()"
                                    size="small"
                                    [disabled]="waterConsomation >= (weight * 40) / 1000"
                        >
                            <ion-icon name="add" size="small"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="card">
                    <span>
                        <h4>
                            {{ calculateCaloriesNeeds() }} kcal
                            <ion-icon name="flash" color="warning"></ion-icon>
                        </h4>
                        <b>Calories</b>
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
}
