<ion-content [fullscreen]="true">
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      Accueil
    </ion-tab-button>
    <ion-tab-button tab="workouts-list">
      <ion-icon name="barbell"></ion-icon>
      Entrainements
    </ion-tab-button>
    <ion-tab-button tab="dictionary">
      <ion-icon name="library"></ion-icon>
      Encyclopédie
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      Profil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
