<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home/dashboard" text="Annuler"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification de l'entrainement #{{workout?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorderExercises($any($event))">
    @for(exercise of workout?.pattern?.exercises; track exercise.name){
          @if(didExercise(exercise)){
            <ion-item class="exerciseLine">
              <ion-checkbox slot="start" [(ngModel)]="exerciseInputs[exercise.name].checked"></ion-checkbox>
              <ion-label>{{ exercise.name }}</ion-label>
              @if(!isWithoutWeight(exercise)){
                <ion-input type="number" [min]="0" [(ngModel)]="exerciseInputs[exercise.name].weight" placeholder="Poids"></ion-input>
              }
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          }
          @else{
            <ion-item class="exerciseLine">
              <ion-checkbox slot="start" [(ngModel)]="exerciseInputs[exercise.name].checked"></ion-checkbox>
              <ion-label>{{ exercise.name }}</ion-label>
              @if(!isWithoutWeight(exercise)){
                <ion-input type="number" [min]="0" [(ngModel)]="exerciseInputs[exercise.name].weight" placeholder="Poids"></ion-input>
              }
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          }
      }
    </ion-reorder-group>
  </ion-list>

  <app-date-pickers [(startHour)]="startHour" [(endHour)]="endHour"></app-date-pickers>

  <app-feeling-range [(feeling)]="feeling"></app-feeling-range>

  <ion-input label="Observation" label-placement="stacked" [(ngModel)]="observation" placeholder="Observations (facultatif)" class="observationField"></ion-input>

  <ion-toast position="top" icon="checkbox" trigger="add-workout-toast" message="Entrainement modifié avec succès !" [duration]="5000"></ion-toast>
</ion-content>

<ion-footer>
  <ion-button id="add-workout-toast" (click)="editWorkout()" [disabled]="!canSave()" [routerLink]="['/workout/{{workout.id}}']">
    <ion-icon name="save"></ion-icon>
    Enregistrer
  </ion-button>
</ion-footer>
