.content {
    height: fit-content;
    display: grid;
    gap: 24px;
    padding-bottom: 32px;
}

.exerciseLine {
    width: 100%;
    display: flex;
    gap: 15px;

    ion-input {
        max-width: 13%;
        justify-self: end;
    }
}
