<ion-content>
  <div class="container">
    <span>
       <ion-select [(ngModel)]="choosePattern" placeholder="Choississez votre séance">
        @for(pattern of workoutPatterns; track pattern.name){
          <ion-select-option [value]="pattern">{{pattern.name}}</ion-select-option>
        }
      </ion-select>
      <ion-button [routerLink]="['/pattern-add']">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </span>
    <ion-button (click)="addWorkout()" [routerLink]="['/home/workouts-list']">Ajouter l'entrainement</ion-button>
  </div>
</ion-content>
