<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home/workout-add" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une séance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="patternName" placeholder="Nom de votre séance"></ion-input>
  <ion-select [multiple]="true" placeholder="Sélectionner les exercices" [(ngModel)]="selectedExerciseNames">
    @for(exercise of allExercises; track exercise.name){
      <ion-select-option [value]="exercise.name">{{exercise.name}}</ion-select-option>
    }
  </ion-select>

  <ion-button (click)="addPattern()" [routerLink]="['/workout-add']">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
