<ion-header>
  <ion-toolbar>
    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Dernières séances</ion-label>
    </ion-list-header>
    @for(workout of lastWorkouts; track workout){
      <app-workout-item [workout]="workout"></app-workout-item>
    }
    <ion-item>
      <ion-button [routerLink]="['/workout-add']" fill="clear" style="width: 100%">
        <ion-icon name="add"></ion-icon>
        Ajouter un entrainement
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button id="resetDatas" color="danger">
    <ion-icon icon="trash"></ion-icon>
    Réinitialiser les données
  </ion-button>
  <ion-alert
    trigger="resetDatas"
    header="Êtes-vous sûr de vouloir tout supprimer ?"
    [buttons]="alertButtons">
  </ion-alert>
</ion-footer>
